{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Duties</title>
  <link href="{% static 'duties/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'duties/css/base.css' %}" rel="stylesheet" type="text/css">
  {% block extrahead %}{% endblock extrahead %}
</head>
<body>
{% block header %}{% endblock %}
{% block main %}{% endblock %}

<script src="{% static 'duties/js/popper.min.js' %}"></script>
<script src="{% static 'duties/js/bootstrap.min.js' %}"></script>
{#<script> </script>#}

</body>
</html>