.header-wrapper {
  grid-row: 1;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 60%;
  justify-self: center;
}

.logo-wrapper {
  height: 100%;
  width: 17%;
  display: flex;
  justify-content: center;
}

.logo-image {
  height: 100%;
  display: flex;
  padding: 20px 0;
}

.profile-control-wrapper {
  height: 100%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  height: fit-content;
  color: #3b2b2f;
  /*color: #fff;*/
  background-color: rgba(0, 0, 0, 0);
  /*background-color: #61d2dc;*/
  border-color: #61d2dc;
}

.logout-button:focus {
  background-color: #61d2dc;
  border-color: #61d2dc;
  box-shadow: 0 0 0 0.25rem rgb(228, 228, 228);
}

.logout-button:hover {
  background-color: #41b3d3;
  border-color: #41b3d3;
}

.logout-button:active, .logout-button:active:focus {
  background-color: #41b3d3;
  border-color: #41b3d3;
  box-shadow: 0 0 0 0.25rem rgb(228, 228, 228);
}

main {
  grid-row: 2;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.calendar-wrapper {
  grid-column: 1;
  width: 100%;
  display: grid;
  justify-self: center;
  justify-content: flex-end;
  margin-bottom: 100px;
  background-color: #edeeef;
}

.year-num {
  display: flex;
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 80px;
  font-weight: bold;
  font-size: larger;
  cursor: default;
}

.year {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  grid-gap: 5em;
  margin-right: 80px;
}

.month-name {
  display: flex;
  justify-self: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: medium;
}

.month {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 1em;
  background-color: #f6f7f9;
  border-radius: 15px;
  padding: 5px 25px 20px 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  cursor: default;
}

.month-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1em;
  font-size: small;
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1em;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.8s;
}

.day:hover {
  border-bottom-color: #212529;
  transition: border-bottom-color 0.3s;
}

.sunday {
  color: crimson;
  border-bottom-color: transparent;
}

.sunday:hover {
  border-bottom-color: crimson;
}

.empty-day, .empty-day:hover {
  border-bottom: none;
  transition: none;
}

.highlighted {
  border-radius: 5px;
  border: 1px solid transparent;
  padding-bottom: 1px;
  transition: border 0.8s;
}

.highlighted:hover {
  border-color: rgba(59, 43, 47, 0.8);
  transition: border 0.3s;
}

.control-panel-wrapper {
  grid-column: 2;
  position: sticky;
  top: 110px;
  background-color: transparent;
  height: fit-content;
  margin-top: 60px;
}

.persons-list {
  background-color: transparent;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 5px;
  /*justify-items: center;*/
  /*align-items: center;*/
}

.person-button {
  grid-column: 2;
  background-color: transparent;
  width: 100%;
  color: #272b2f;
  display: flex;
  justify-content: center;
  align-self: end;
  border: none;
  border-radius: unset;
  border-bottom: 1px solid transparent;
  /*border-bottom: 1px solid rgba(59, 43, 47, 0.2);*/
  transition: border-bottom-color 0.8s;
}

.person-button:hover {
  border-bottom: 1px solid rgba(59, 43, 47, 1);
  background-color: transparent;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.button-switch-indicator {
  grid-column: 1;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid rgba(59, 43, 47, 0.2);
  justify-self: center;
  align-self: center;
}
